.VhContainer-aside {
  & .Ad {
    margin-bottom: var(--space--xLarge);
  }
}

.VhContainer-main {
  & .VhModule + .Ad,
  & .VhModule + .Ad + .Ad {
    margin-top: -2rem;
    display: flex;
    margin-bottom: 2rem;
  }

  & .VhModule--medium {
    margin-top: 2rem;
  }
}
