.PageTitle {
  /* BLOCK */
}

.SuperScriptButton {
  cursor: pointer;
  display: inline-block;
  border: none;
  background: transparent;
  color: var(--link-color);
  font-size: inherit;
  padding: 0;
  margin: 0;
  width: var(--space--xSmall);
}

.SectionTitle {
  /* BLOCK */
}

@media (--viewport--medium-up) {
  .SectionTitle {
    padding-bottom: 0;
    border-bottom: 1px solid var(--color--grey300);
  }
}

.SectionTitle + .lead {
  font-size: var(--font-size--medium);
  margin-top: calc(var(--space--medium) * -1);
}

.note {
  font-size: var(--font-size--small);
  color: var(--color--grey600);
}

.highlight {
  background-color: var(--color--yellow300);
  padding: calc(var(--space--xSmall));
}

/*
  List
*/
.List {
  margin-left: var(--space--medium);
  line-height: 1.5;
}

.List li {
  margin-bottom: var(--space--medium);
}

@media (--viewport--large) {
  .List li {
    margin-bottom: 0;
  }
}

.List--disc {
  list-style: disc;
}

.List--circle {
  list-style-type: circle;
}

.List--ordered {
  list-style-type: lower-roman;
}

.font-weight--normal {
  font-weight: var(--font-weight--normal);
}

.font-weight--lighter {
  font-weight: var(--font-weight--lighter);
}

.font-weight--medium {
  font-weight: var(--font-weight--medium);
}

.font-weight--bold {
  font-weight: var(--font-weight--bold);
}

.font-size--xSmall {
  font-size: var(--font-size--xSmall);
}

.font-size--small {
  font-size: var(--font-size--small);
}

.font-size--medium {
  font-size: var(--font-size--medium);
}

.font-size--large {
  font-size: var(--font-size--large);
}

.font-size--xLarge {
  font-size: var(--font-size--xLarge);
}

.font-size--xxLarge {
  font-size: var(--font-size--xxLarge);
}

.font-size--xxxLarge {
  font-size: var(--font-size--xxxLarge);
}

.text-decoration--underline {
  text-decoration: underline !important;
}
