.u-zindex--low {
  z-index: var(--z-index--low);
}

.u-zindex--medium {
  z-index: var(--z-index--medium);
}

.u-zindex--high {
  z-index: var(--z-index--high);
}

@media (--viewport--small) {
  .u-sm-hidden {
    display: none !important;
  }

  .u-sm-elementCenter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (--viewport--medium) {
  .u-md-hidden {
    display: none !important;
  }

  .u-md-elementCenter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (--viewport--large) {
  .u-lg-hidden {
    display: none !important;
  }

  .u-lg-elementCenter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.u-elementCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.u-screenReaderOnly {
  display: none;
}

.u-capitalize {
  text-transform: capitalize;
}

@media (--viewport--small) {
  .u-sm-containerNoGutter {
    margin-left: calc(var(--space--medium) * -1);
    margin-right: calc(var(--space--medium) * -1);
  }
}
